header{
    height: 100vh;
    width: 100%;
    /*add colors*/
    /*background-image: linear-gradient(green,pink);*/
    /*background-image: radial-gradient(orange,red);*/
    /*radial if change width from 100% is oval to 50% it will be roun*/


    /*add-image*/
    /*first add 2 images*/
    background-image: url("pictures/summer.jpeg"),url("pictures/spring.jpeg"),url("pictures/winter.jpg"),url("pictures/fall.jpg");
    background-size:25% 600px, 50% 600px,75% 600px, 100% 600px;
    background-repeat: no-repeat;
}
/*remove background moon picture and put on top of another background*/
.big-hero{
    height: 100vh;
    width: 100%;
background-image: url("pictures/moon-removebg-preview\ \(1\).png"),url("pictures/moon-removebg-preview\ \(1\).png"),url("pictures/space.jpg");
background-repeat: no-repeat;
background-size: 200px, 300px, cover;/*add size 1moon is 200px and 2 moon is 300px and 100% for background pics*/
background-position: center right, bottom left, center center;
/*center right is for 1 moon and bottom left is for 2 moon and center center is for background space*/
/*move position of moon-- add 2 value --put either left or right or top or bottom*/
}


/*switch position of 3 pictures*/
.switchPosition{
    background-image: url(pictures/moon.jpg), url("pictures/space.jpg"), url("pictures/summer.jpeg");
    background-size: 33.33% 500px; /*33% is width and 500px is height*/
    background-repeat: no-repeat;
    background-position: 0%, 25%, 60%; 

}


/* add image and color at the same time use background not background-image--down3box*/

.addPicsColorSametime{
    margin-top: 30px;
    height: 100vh;
    width: 100%;
    background: url("pictures/summer.jpeg"),linear-gradient(pink,green),orange;
    background-size: 33% 100vh, 60%, 100%;
    /*pic use value 33* and linear place value 60%, orange is 100%---number always run from samll% to large%blike 100*/
    background-repeat: no-repeat;
    
}
/* add image and color at the same time use background not background-image--down3box*/
.box1{
    height: 50vh;
    width: 100%;
    margin-top: 30px;
    background-image:url("pictures/winter.jpg") ;
}

.box2{
    height: 50vh;
    width: 100%;
    background:linear-gradient(coral,green);
  
}
/*linear-gradient will work with only back ground or background0image
not background-color*/
.box3{
    height: 50vh;
    width: 100%;
    background-color: aqua;
   
}




